.list-wrap {
  .txt-bw {
    word-wrap: break-word;
  }

  .ipt-form-box {
    width: 600px;
  }

  .small-ipt {
    width: 100px;
  }

  .ui-mb-30 {
    margin-bottom: 30px;
  }

  .filters {
    margin: 0 0 20px 0;
    border: 1px #efefef solid;
    padding: 10px;
    background: #f9f9f9;

    .filter {
      display: inline-block;
      width: auto;
      padding: 10px;
      border-radius: 5px;
      .el-select {
        display: inline-block;
      }

      .el-input {
        width: 150px;
      }
    }

    .middle-filter {
      display: inline-block;
      width: auto;
      padding: 10px;
      border-radius: 5px;

      .ui-d-ib {
        display: inline-block;
      }

      .el-select {
        width: 100px;
      }
    }
  }

  .pagination-wrapper {
    text-align: center;
    padding: 30px;
  }
}
